<div class ="myhome">

<p>welcome to  DIRECT PEOPLE TO THEIR PROPERTY WEB</p>

<div class="image" >
<%= image_tag("id.png", :alt => "rss feed" , class:"imagee") %>

</div>
		
<marquee behavior="scroll" direction="up"><h2> MORE ON THIS SITE</h2></marquee>
<table>
<tr> <td><div class="part1">
<h2> NOTE THIS</h2>
direct people to their properties is a sites in <br>which all lost properties especialy national id in case <br>they found			
,one has to announce them and being registered in order <br>to make their security so as the leader can	<br>		
link peoples those who loose with those who found.<br>	

</div></td>
<td><div class="part2">
<h2>MY PROJECT IS GOING TO BRING THIS SOLUTIONS:</h2>	
<ul>
<li>This product is going to solve the problem of ignorance and direct<br> every thing to right place</li>

<li>Also it is going to join together /link people together	</li>
<li>time management	</li>
<li>it can minimize government expenses</li>
</div> </td>
<td><div  class="part3 ">
<h2> CONTACT US FOR HELP!</h2>
<h4>title :DIRECTOR</h4>
<li>email :mumarg2015@gmail.com</li>
<li> tel :0783304477</li>
<h4> title :registrar officer</h4>
<li>email :igirabayo@gmail.com</li>
<li> tel :0727635318</li>

</div>	</td></tr>

</table>
</div>