/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
.login{
    background-color: skyblue;
    border-radius: 10px;
    font-size: 20px;
    margin: 30px;
    width: 50%;
    border-style: solid;
  border-width: 5px;
  border: 1px solid black;
  outline-style: double;
  outline-color: green;
  margin-left: 30rem;
 
}

body {
    background-color: lightblue;
    width: 110%;
    margin-left: 0
  }
  .header {
    padding: 30px;
    text-align: center;
    background: #1abc9c;
    color: white;
    font-size: 30px;
    width: 100%;
    
  
  }
  .sign_in_up{
    
      font-size:20px;
    
      
  }
  
  .searchs
  {
  
    font-size: 20px;
  
   
   background-color: skyblue;
   margin-bottom: 3rem;
  
   float: right;
  }
  .link{

    font-size: 20px;
   padding: 3rem;
   border-style: solid;
   border-width: 5px;
   border: 1px solid black;
   outline-style: double;
   outline-color: green;
   background-color: skyblue;
   width: 100%;
  
  }
  #myindex{
    background-color: skyblue;
    border-style: solid;
  border-width: 5px;
  border: 1px solid black;
  outline-style: double;
  outline-color: green;
  
  

}
.footer{
  padding: 30px;
  text-align: center;
  background: #1abc9c;
  color: white;
  font-size: 30px;
  width: 100%;
  margin-top: 10.5rem;;
}
table th{
  background-color: green;
}
.myhome{
  
  width: 100%;
  border-style: solid;
border-width: 5px;
border: 1px solid black;
outline-style: double;
outline-color: green;
}
P{
  color: #1abc9c;
  text-align: center;
  font-size: 30px;
  font-family: 'Courier New', Courier, monospace;
}
  